h5{
    font-size: larger;
    margin:auto;
}

.modal-data{
    /*display: flex;*/
    /*align-content: center;*/
    /*justify-content: center;*/
    margin: 10px;
}

body{
    background-image: url("images/background/image.jpg");
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #999;

}