h5{
    font-size: larger;
    margin:auto;
    color: black;
    font-weight: bold;
}

.main-btn{
    height: 9vh;
    font-size: medium;
}
.head-title{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.main-buttons{
    font-size: large;
}

#modal1 .modal-content{
    background-image: url("images/background/popup/nike wall 05 txt op II_compressed.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#modal2 .modal-content{
    background-image: url("images/background/popup/632659.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#modal3 .modal-content{
    background-image: url("images/background/popup/632669.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#modal4 .modal-content{
    background-image: url("images/background/popup/Board Room - dont quite - 116X94 6.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#modal5 .modal-content{
    background-image: url("images/background/popup/215935.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#modal6 .modal-content{
    background-image: url("images/background/popup/fa13_rn_flyknit_allyson_felix_13-06-01_0620.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#modal1 .modal-data{

    padding-top: 12%;
}
#modal2 .modal-data{
    padding-top: 5%;
}

#modal3 .modal-data{
    padding-top: 6%;
}

#modal4 .modal-data{
    padding-top: 6%;
}

#modal6 .modal-data{
    padding-top: 6%;
}

.brand-logo h4{
    font-family: 'Roboto', serif;
    text-transform: uppercase;
}
body{
    background-image: url("images/background/image.jpg");
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #999;

    -webkit-filter: sepia(0.3);
    filter: sepia(0.3);

}